@media screen and (max-width: 1330px) {
    
    .side-bar .widget:nth-child(3),
    .side-bar .widget:nth-child(4),
    .side-bar .widget:nth-child(2){
        display: none;
    }

    .menu-item{
        display: flex;
        flex-direction: column;
        padding: 30px 0;
    }

    .widget{
        border: none;
    }

    .side-bar{
        width: 72px;
    }

    .play-list{
        flex-wrap: wrap;
    }

    .play-list-item{
        flex-basis: calc(100% / 3);
    }

}

@media screen and (max-width: 800px) {

    .side-bar{
        display: none;
    }

    .play-list-item{
        flex-basis: calc(100% / 2);
    }
    

}

