@media screen and (max-width: 1330px) {
    
    .side-bar .widget:nth-child(3),
    .side-bar .widget:nth-child(4),
    .side-bar .widget:nth-child(2){
        display: none;
    }

    .menu-item{
        display: flex;
        flex-direction: column;
    }

    .side-bar{
        width: 84px;
    }




}


